<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>State of the Art</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>
    <div class="wrapper">
        <header class="py-3 mb-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand ml-3" href="#">State of the Art</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
                        <a class="nav-item nav-link" href="#">Dashboard</a>
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link disabled" href="#"></a>
                    </div>
                </div>
            </nav>
            <div class="flex-row justify-space-between align-center container-fluid mx-auto">
                <h4 class="text-light catalog p-3">Artwork Location Catalog</h4>
            </div>

        </header>
        <main class="container-fluid mx-auto">
            <div class="container-fluid">
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login"><button type="button" class="btn btn-outline-secondary">Login</button>
                </a>
                {{/if}}
            </div>
            <div class="container-fluid mx-auto">
                <section class="p-3 my-4">
                    <h3>Welcome to State of the Art</h3>
                    <h5 class="text-light">A Guide to finding artwork</h5>
                    <p>Locate a work of art or update the catalog with the location of artwork.</p>
                    <p>Sign up or Log in for access</p>
                </section>
            </div>

            {{{ body }}}

        </main>

        <footer>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2021 - TeamWhiteboard. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>