<div class="art-list">
    {{#each posts as |post|}}

        {{>artwork post}}
    
    {{/each}}
    </div>


<div class="row row-cols-1 row-cols-md-3 g-4">

<script src="/javascript/single-artwork.js"></script>