<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>State of the Art</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="py-3 mb-3">
        <div class="flex-row justify-space-between align-center container-fluid mx-auto">
            <h1 class="text-light bg-dark p-3">State of the Art</h1>
            <h4 class="text-light catalog p-3">Artwork Location Catalog</h4>
        </div>
        <div class="container-fluid mx-auto">
            <section class="p-3 my-4">
                <h5 class="text-light">A Guide to finding artwork</h5>
                <p>Locate a particular work of art or update the catalog with the location of artwork.
                </p>
            </section>
        </div>
    </header>

    <main class="container-fluid mx-auto">

        <section class="p-3 mb-3 bg-dark flex-row align-center">
            <h2 class="text-light col-12 col-lg-5">Add To Our Catalog.</h2>
            <div class="col-12 col-lg-7 flex-row text-center justify-space-around align-center">
                <a class="btn col-12 col-md-auto mx-2" href="/">View Artwork</a>
                <!-- do we nee another view?<a class="btn col-12 col-md-auto mx-2" href="/zookeepers">View </a>--->
            </div>
        </section>

        <section class="my-4 flex-row justify-space-between ">
            <div class="col-12 col-lg-6 bg-dark p-3 mb-3">
                <h3 class="text-light">Enter Artwork</h3>
                <form id="works">
                    <label for="artist-name" class="form-label">Artist Name</label>
                    <input type="text" id="artist-name" name="artist-name" class="form-input" placeholder="Enter Name">

                    <label for="title-input" class="form-label">Title</label>
                    <input type="text" id="title-input" name="title" class="form-input" placeholder="Enter Title">

                    <label for="medium" class="form-label">Medium</label>
                    <input type="text" id="medium" name="amedium" class="form-input" placeholder="Enter Medium">

                    <label for="date" class="form-label">Date</label>
                    <input type="text" id="date" name="date" class="form-input" placeholder="Enter Date for Artwork">

                    <label for="style" class="form-label">Style</label>
                    <input type="text" id="style" name="style" class="form-input" placeholder="Enter Style of Art">

                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="location" class="form-input" placeholder="Enter Location/Museum">


                    <button class="btn">Add Artwork</button>
                </form>
            </div>

            <div class="col-12 col-lg-6 bg-dark p-3 mb-3">
                <h3 class="text-light">Enter an Artist</h3>
                <form id="artist-form">
                    <label for="artist-name" class="form-label">Artist Name</label>
                    <input type="text" id="artist-name" class="form-input input" placeholder="Enter Name"
                        name="artist-name">

                    <label for="style-input" class="form-label input">Field/Style of Art</label>
                    <input type="text" id="style-input" class="form-input" placeholder="Enter Field of Art" name="style">

                    <button class="btn">Add Artist</button>
                </form>
            </div>
            {{{body}}}
        </section>


    </main>

    <script src="./assets/js/script.js"></script>
</body>

</html>
