<!--homepage-->
<section class="my-4 flex-row justify-space-between">
    <div class="col-12 col-lg-6 bg-dark p-3 mb-3 align-center">
    <h3 class="text-light">View Our Catalog of Art</h3>
    <a class="btn col-12 col-md-auto mx-2" href="/all-artwork">View Artwork</a>
    </div>

    <div class="col-12 col-lg-6 bg-dark p-3 mb-3 align-center">
        <h3 class="text-light">Search for Artwork</h3>
        <form id="searchartist-form">
            <label for="artwork-title" class="form-label">Artwork Title</label>
            <input type="text" id="search-box" class="form-input input" placeholder="Enter Title" name="artwork-title">
            <button class="btn" id="search-artist">Search</button>
        </form>
</section>


<script src="/javascript/search-bar.js"></script>