<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form class="login-form">
                <div class="username-login">
                    <label for="username-login">username:</label>
                    <input type="text" id="username-login" />
                </div>
                <div class="password-login">
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button class="btn btn-light" type="submit" id="login">login</button>
                </div>
            </form>

            <form class="signup-form">
                <div class="username-signup">
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div class="email-signup">
                    <label for="email-signup">email:</label>
                    <input type="email" id="email-signup" />
                </div>
                <div class="password-signup">
                    <label for="password-signup">password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button class="btn btn-light" type="submit">signup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>